name: SPTAG Build

on:
  push:
    branches: [ "main" ]
    
jobs:
  dockerBuild:
    runs-on: ubuntu-latest
    steps:
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Docker Build
      uses: docker/build-push-action@v3.2.0
      with: 
        file: ./Dockerfile
        tags: hiteshdutt/sptag:${{ github.run_id }}
        push: true
